<h1>New Project</h1>
<p><i>You're a maker</i> - Tell us a little about what you would like to make and submit an image or file that will help our community bring your idea to life.</p>

<%= render 'form' %>

<%= link_to 'Back', pins_path %>
