<h1>About us</h1>
<p>We are working on our one month rails Pinteresting app!</p>

<p>Do you want to make a dynamic webpage like this?  Check out <%= link_to "Matt Griffe'ls One Month Rails online class", "http://onemonthrails.com" %></p>