<div class="jumbotron">
	<h1>Why learn Ruby?</h1>
	<p>Because the web is an amazing place to create businesses and impact people.  <%= link_to "Check out Hands-on Rapid Innovation", "http://handsonrapidinnovation.com" %></p>
</div>