<div class="jumbotron">
	<h1>Why would You3Dit?</h1>
	<p>You are much more creative than our world allows you to be and we believe that you should have the power to create physical objects...FAST.  Let us help you bring your next creative idea to life.
		Start a 
		<%= link_to new_pin_path do %><span class="glyphicon glyphicon-plus"></span> new project<% end %>
    today.  
  </p>
  
  <p>Not sure where to start?  Get inspired at <%= link_to "Thingiverse.com", "http://www.thingiverse.com", :target => "_blank" %></p>

  <iframe width="560" height="315" src="//www.youtube.com/embed/APLZiRETwfM" frameborder="0" allowfullscreen></iframe> 
</div>